<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCqr0ZSTmLoXaNymRJCJvkNzXjK1vZyHL4</string>
	<key>GCM_SENDER_ID</key>
	<string>312732462298</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tunestack.app</string>
	<key>PROJECT_ID</key>
	<string>tunestack-ccb23</string>
	<key>STORAGE_BUCKET</key>
	<string>tunestack-ccb23.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:312732462298:ios:a480aef1eb2068d609c9e3</string>
</dict>
</plist>